.btn{
    height: 100px;
    width: 200px;
    background-color: rebeccapurple;
    margin:10px;
    border-radius: 5px;
    color:#eee;
    font-size: 20px;
    text-transform: capitalize;
    opacity: 0.8  ;
}

.btn:hover{
    opacity: 1;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
}