
.form-field {
  margin: 40px 0;
  position: relative;
  display: flex;
  align-items: center;
}

.form-field label {
  position: absolute;
  margin-bottom: 20px;
  font-size: 18px;
}

.form-field input {
  background-color: transparent;
  border-bottom: 2px solid #fff;
  width: 100%;
}

.form-field input:focus,
.form-field input:valid {
  outline: none;
}

.btn {
  background-color: steelblue;
  width: 100%;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 18px;
}

.btn:active {
  transform: scale(0.98);
}
p {
  margin-top: 20px;
  font-size: 16px;
}

a {
  color: lightblue;
}

label span {
  display: inline-block;
  font-size: 18px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
input:focus + label span,
input:valid + label span {
  transform: translateY(-20px);
  color: lightblue;
}
